<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script type="text/javascript">
		var urls = [
			"https://docs.google.com/forms/d/e/1FAIpQLSdIt9AONwOxOu4McdSyMi0e_pE6K5X-7_h1wwuXyodtpO4VPg/viewform?usp=sf_link",
			"https://docs.google.com/forms/d/e/1FAIpQLSe67qQKJHilXE6jk1oYEu118KTWFcSoD8WXV0g6lubYMv8ZJg/viewform?usp=sf_link",
			"https://docs.google.com/forms/d/e/1FAIpQLSfznjATPVQPnoOVgnafAG7JoMhYwFt6SiIVgVoSR5O6yZVV-A/viewform?usp=sf_link",
		];
		var index = Math.floor(Math.random() * urls.length);
		var url = urls[index];
		window.location.assign(url);

	</script>

</head>

<body>
	
</body>

</html>
